<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zc.setting">

    <application android:theme="@style/setting_AppTheme">
        <activity android:name=".test.MyTestActivity"></activity>
        <activity android:name=".test.SettingActivityMainActivityActivity" />
        <activity android:name=".fragment.MyFragmentActivity" />
        <activity android:name=".SettingsActivity" />
    </application>

</manifest>